<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Cat Feeder Overlay</title>
    <link rel="stylesheet" href="/static/css/overlay.css" />
  </head>
  <body>
    <div id="overlay">
      <div id="alert" class="hidden">
        <div class="avatar" id="avatar"></div>
        <div class="content">
          <h1 id="username"></h1>
          <h2 id="tier"></h2>
          <p id="message"></p>
        </div>
      </div>
    </div>
    <audio id="tier-sound"></audio>
    <script src="/static/js/overlay.js"></script>
  </body>
</html>
